<table>
    <% for( var i=0; i< allTodo.length; i++){ %>
        <tr>
            <td>
                <%= allTodo[i].title %>
            </td>
        </tr>
        <tr>
            <td>
                <%= allTodo[i].dueDate %>
            </td>
        </tr>
        <tr>
            <td>
                <%= allTodo[i].completed %>
            </td>
        </tr>
        <% } %>
</table>